# import os

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\82103\\Desktop\\파이썬자동화'

In [3]:
os.chdir("c:/workspace")

In [4]:
os.getcwd()

'c:\\workspace'

In [5]:
os.chdir('C:\\encore')

FileNotFoundError: [WinError 2] 지정된 파일을 찾을 수 없습니다: 'C:\\encore'

In [6]:
os.chdir('C:\\Users\\82103\\Desktop\\파이썬자동화')

In [7]:
os.mkdir("./a/b/c")

FileNotFoundError: [WinError 3] 지정된 경로를 찾을 수 없습니다: './a/b/c'

In [8]:
os.makedirs("./a/b/c")

# selenium

In [9]:
from selenium.webdriver.common.by import By
# 웹드라이버 임포트
from selenium import webdriver
import selenium
#pip install selenium --upgrade

In [10]:
url = "http://dis.kofia.or.kr/websquare/index.jsp?w2xPath=/wq/fundann/DISOnlineFund.xml&divisionId=MDIS01007001000000&serviceId=SDIS01007001000"

In [11]:
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")

In [12]:
driver = webdriver.Chrome(options=options)

In [13]:
driver.get(url)

In [14]:
driver.find_element(By.CSS_SELECTOR, "#stdDtOp_input_1").click()

In [15]:
driver.find_element(By.CSS_SELECTOR, "#btnSearImg").click()

In [16]:
while(True):
        rt = driver.find_element(By.ID,'txtGridCnt').text
        if(rt != '0'):
            break
        else:
            time.sleep(2)
#몇 건 있나 조회

In [17]:
rt

'9,096'

In [18]:
driver.find_element(By.CSS_SELECTOR, "#excelDownBtn").click()
#엑셀로 다운로드 받는 버튼 클릭

# 다운 받은 것 이동

In [19]:
import os, glob

In [20]:
file_list = glob.glob(r"C:\Users\82103\Downloads\*.xls")

In [21]:
file_list

['C:\\Users\\82103\\Downloads\\온라인전용펀드_20230826.xls']

In [22]:
latest_file = max(file_list, key=os.path.getctime)
# file_list 중에서 가장 최근에 생성 또는 수정된 파일의 이름이 latest_file 변수에 저장

In [23]:
latest_file

'C:\\Users\\82103\\Downloads\\온라인전용펀드_20230826.xls'

In [24]:
r= driver.find_element(By.CSS_SELECTOR, "#nextDate_input")
# 사이트에서 기준일자 찾음 > 8월에 하면 7-31까지

In [26]:
r

In [27]:
month = r.get_attribute("value")
month

'2023-07-31'

In [28]:
"온라인전용펀드_{}.xls".format(month)
# 파일 이름을 기준일자 기준으로 바꾸고 싶음

'온라인전용펀드_2023-07-31.xls'

In [29]:
if os.path.isdir("./fund") == False:
    os.mkdir("./fund")

# fund라는 폴더 없으면 만든다.

In [31]:
os.rename(latest_file, "./fund/{}".format("온라인전용펀드_{}.xlsx".format(month)))
# 이름 rename

# pandas로 전처리 후 excel에 저장

* KB, NH, 미래에셋, 삼성, 신영, 한투 회사의 온라인 판매현황을 확인

* 운용회사 이름을 정리
    - 미래에셋자산운용을 > 미래에셋
    - 케이비자산운용을 > KB
    - 한국투자신탁운용을 > 한투 
    - 엔에이치아문디자산운용을 > NH
    - 신영자산운용을 > 신영
    - 삼성액티브자산운용, 삼성자산운용 > 삼성

In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl

## 방법 1

In [35]:
df1 = pd.read_excel("./fund/온라인전용펀드_2023-07-31.xlsx", header=1)

In [36]:
df1.head()

,운용회사,펀드명,Unnamed: 2,설정일,펀드유형,설정원본,NAV,기준,과표,표준코드
0,골든브릿지자산운용,GB100년공모주증권자투자신탁 2[채권혼합]종류Ae,NaN,20180122,혼합채권형,41,41,998.12,1018.38,K55309BK8501
1,골든브릿지자산운용,GB100년공모주증권자투자신탁 2[채권혼합]종류Ce,NaN,20180122,혼합채권형,0,0,999.53,1019.69,K55309BK8519
2,골든브릿지자산운용,골든브릿지K-디펜스인더스트리얼즈증권투자신탁[주식혼합]종류A-e,NaN,20221020,혼합주식형,0,1,1130.83,1010.47,K55309DY1789
3,골든브릿지자산운용,골든브릿지K-디펜스인더스트리얼즈증권투자신탁[주식혼합]종류C-Pe,NaN,20221020,혼합주식형,8,9,1130.93,1010.58,K55309DY1847
4,골든브릿지자산운용,골든브릿지K-디펜스인더스트리얼즈증권투자신탁[주식혼합]종류C-e,NaN,20221024,혼합주식형,0,0,1131.23,1010.93,K55309DY1813

In [37]:
df1.columns

Index(['운용회사', '펀드명', 'Unnamed: 2', '설정일', '펀드유형', '설정원본', 'NAV', '기준', '과표',
       '표준코드'],
      dtype='object')

In [38]:
df1_extract = df1[['운용회사', '펀드명','설정일', '펀드유형', '설정원본', 'NAV']].copy()

In [39]:
df1_extract.운용회사.unique()

array(['골든브릿지자산운용', '교보악사자산운용', '다올자산운용', '대신자산운용', '더제이자산운용',
       '디더블유에스자산운용', '디비자산운용', '디에스자산운용', '마이다스에셋자산운용', '머스트자산운용',
       '멀티에셋자산운용', '미래에셋자산운용', '베어링자산운용', '브레인자산운용', '브이아이자산운용',
       '브이아이피자산운용', '비엔케이자산운용', '삼성액티브자산운용', '삼성자산운용', '슈로더투자신탁운용',
       '스팍스자산운용', '신영자산운용', '신한자산운용', '아이비케이자산운용', '알파자산운용',
       '얼라이언스번스틴자산운용', '에셋플러스자산운용', '에이치디씨자산운용', '엔에이치아문디자산운용',
       '우리글로벌자산운용', '우리자산운용', '웰컴자산운용', '유경피에스지자산운용', '유리자산운용', '유진자산운용',
       '이스트스프링자산운용', '이지스자산운용', '칸서스자산운용', '케이비자산운용', '케이씨지아이자산운용',
       '코레이트자산운용', '키움투자자산운용', '타이거자산운용투자일임', '타임폴리오자산운용', '트러스톤자산운용',
       '파인만자산운용', '파인밸류자산운용', '파인아시아자산운용', '플러스자산운용', '피델리티자산운용',
       '피티알자산운용', '하나유비에스자산운용', '하우자산운용', '하이자산운용', '한국투자밸류자산운용',
       '한국투자신탁운용', '한화자산운용', '현대인베스트먼트자산운용', '현대자산운용', '흥국자산운용'],
      dtype=object)

In [40]:
df1_extract.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9096 entries, 0 to 9095
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   운용회사    9096 non-null   object
 1   펀드명     9096 non-null   object
 2   설정일     9096 non-null   int64
 3   펀드유형    9096 non-null   object
 4   설정원본    9096 non-null   int64
 5   NAV     9096 non-null   int64
dtypes: int64(3), object(3)
memory usage: 426.5+ KB

In [41]:
company_replacements = {
    "미래에셋자산운용": "미래에셋",
    "케이비자산운용": "KB",
    "한국투자신탁운용": "한투",
    "엔에이치아문디자산운용": "NH",
    "신영자산운용": "신영",
    "삼성액티브자산운용": "삼성",
    "삼성자산운용": "삼성"
}
df1_extract['운용회사'] = df1_extract['운용회사'].replace(company_replacements)

In [42]:
df1_extract.운용회사.unique()

array(['골든브릿지자산운용', '교보악사자산운용', '다올자산운용', '대신자산운용', '더제이자산운용',
       '디더블유에스자산운용', '디비자산운용', '디에스자산운용', '마이다스에셋자산운용', '머스트자산운용',
       '멀티에셋자산운용', '미래에셋', '베어링자산운용', '브레인자산운용', '브이아이자산운용', '브이아이피자산운용',
       '비엔케이자산운용', '삼성', '슈로더투자신탁운용', '스팍스자산운용', '신영', '신한자산운용',
       '아이비케이자산운용', '알파자산운용', '얼라이언스번스틴자산운용', '에셋플러스자산운용', '에이치디씨자산운용',
       'NH', '우리글로벌자산운용', '우리자산운용', '웰컴자산운용', '유경피에스지자산운용', '유리자산운용',
       '유진자산운용', '이스트스프링자산운용', '이지스자산운용', '칸서스자산운용', 'KB', '케이씨지아이자산운용',
       '코레이트자산운용', '키움투자자산운용', '타이거자산운용투자일임', '타임폴리오자산운용', '트러스톤자산운용',
       '파인만자산운용', '파인밸류자산운용', '파인아시아자산운용', '플러스자산운용', '피델리티자산운용',
       '피티알자산운용', '하나유비에스자산운용', '하우자산운용', '하이자산운용', '한국투자밸류자산운용', '한투',
       '한화자산운용', '현대인베스트먼트자산운용', '현대자산운용', '흥국자산운용'], dtype=object)

In [43]:
selected_companies = ['미래에셋', 'KB', '한투', 'NH', '신영', '삼성']
filtered_df = df1_extract[df1_extract['운용회사'].isin(selected_companies)]

In [44]:
filtered_df.운용회사.unique()

array(['미래에셋', '삼성', '신영', 'NH', 'KB', '한투'], dtype=object)

In [45]:
filtered_df.shape

(3569, 6)

## 방법 2

In [48]:
df1_extract.loc[df1_extract['운용회사']=="미래에셋자산운용", '운용회사']  = "미래에셋"
# str.contains() 메소드는 해당 column에 문구가 포함되어 있는지 확인하는 메소드
df1_extract.loc[df1_extract['운용회사'].str.contains('삼성'),'운용회사']   = '삼성'
df1_extract.loc[df1_extract['운용회사']=="케이비자산운용", '운용회사'] = "KB"
df1_extract.loc[df1_extract['운용회사']=="한국투자신탁운용", '운용회사'] = "한투"
df1_extract.loc[df1_extract['운용회사']=="엔에이치아문디자산운용", '운용회사'] = "NH"
df1_extract.loc[df1_extract['운용회사']=="신영자산운용", '운용회사'] = "신영"

In [49]:
df1_extract_2 = df1_extract.loc[df1_extract['운용회사'].isin(["삼성", "한투", "NH", "KB", "신영", "미래에셋"]), :].copy()

In [50]:
df1_extract_2.shape

(3569, 6)

In [51]:
df1_extract_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3569 entries, 972 to 8501
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   운용회사    3569 non-null   object
 1   펀드명     3569 non-null   object
 2   설정일     3569 non-null   int64
 3   펀드유형    3569 non-null   object
 4   설정원본    3569 non-null   int64
 5   NAV     3569 non-null   int64
dtypes: int64(3), object(3)
memory usage: 195.2+ KB

# sum

In [52]:
# 백만원 -> 억 단위로 변경
df1_extract_2['NAV'] = df1_extract_2['NAV'].apply(lambda x : x / 100)

In [53]:
df1_extract_2.head()

     운용회사                                 펀드명       설정일  펀드유형  설정원본   NAV
972  미래에셋       미래에셋3억만들기솔로몬증권투자신탁 1(주식)종류A-e  20180227   주식형   197  2.74
973  미래에셋       미래에셋3억만들기솔로몬증권투자신탁 1(주식)종류C-e  20180529   주식형   166  1.64
974  미래에셋         미래에셋3억만들기솔로몬증권투자신탁 1(주식)종류S  20140516   주식형     9  0.10
975  미래에셋    미래에셋AI글로벌모멘텀혼합자산자투자신탁(재간접형)종류A-e  20190926  혼합자산   122  1.35
976  미래에셋  미래에셋AI글로벌모멘텀혼합자산자투자신탁(재간접형)종류C-P2e  20191002  혼합자산   389  4.35

In [54]:
df1_extract_2.groupby('운용회사')[['NAV']].sum().sort_values(by='NAV')

           NAV
운용회사
신영     3705.82
NH    14538.84
삼성    27916.51
KB    30461.79
한투    33402.89
미래에셋  57505.02

In [55]:
df1_graph = df1_extract_2.groupby(['운용회사'])[['NAV']].sum()

In [56]:
df1_graph.reset_index(inplace=True)

In [57]:
df1_graph

   운용회사       NAV
0    KB  30461.79
1    NH  14538.84
2  미래에셋  57505.02
3    삼성  27916.51
4    신영   3705.82
5    한투  33402.89

# 엑셀에 그래프 추가

In [58]:
writer = pd.ExcelWriter('fund_example.xlsx', engine='xlsxwriter')

#fund_example라는 이름으로 저장됨

In [59]:
# 데이터프레임의 객체를 XlsxWriter Excel 객체로 변환
df1_graph.to_excel(writer, sheet_name='Sheet1', index=False)


# xlsxwriter workbook and worksheet 객체 호출
workbook  = writer.book
worksheet = writer.sheets['Sheet1']

In [60]:
# 챠트를 추가
chart = workbook.add_chart({'type': 'column'})


# 챠트에 들어갈 데이터 입력 설정
chart.add_series({
    'values':     '=Sheet1!$B$2:$B$7',
    'categories': '=Sheet1!$A$2:$A$7',
    'gap':        100, # column 사이의 간격
})


# 챠트 axes 설정
chart.set_x_axis({'name': '펀드운용사', 'num_font':  {'rotation': 45}})
chart.set_y_axis({'name': 'NAV(단위: 억)', 'major_gridlines': {'visible': True}})


# 범례 설정
chart.set_legend({'position': 'none'})


# 챠트 삽입 위치
worksheet.insert_chart('D2', chart)

0

In [61]:
header_format = workbook.add_format({
    'size' : 10,
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'align' : 'center',
    'fg_color': '#D7E4BC',
    'border': 1})

In [62]:
# 엑셀의 헤더 부분 Cell 포맷팅 
for col_num, value in enumerate(df1_graph.columns.values):
    worksheet.write(0, col_num, value, header_format)

# Cell의 포맷팅 설정 
format1 = workbook.add_format({'num_format': '#,##0.00'})
format2 = workbook.add_format({'num_format':  '#,##0.00'})

# B:B 전체, Cell 크기 20, format 설정은 위의 format1
worksheet.set_column('A:A', 20, format1)

# C:C 전체, Cell 크기 기본값 , format 설정은 위의 format2
worksheet.set_column('B:B', 15, format2)

worksheet.write(0,2, "(단위:억)")
writer.close()